{
  "openapi": "3.0.3",
  "info": {
    "title": "Timezynk API",
    "description": "API for Timezynk scheduling system",
    "version": "2.7.0"
  },
  "security": [
    {
      "TZApiAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Endpoints for authentication and configuration"
    },
    {
      "name": "Availability",
      "description": "Fetching and updating availability"
    },
    {
      "name": "Invoice",
      "description": "Fetching, updating and creating invoices"
    },
    {
      "name": "Invoice rows",
      "description": "Fetching, updating and creating invoice rows"
    },
    {
      "name": "Invoice articles",
      "description": "Fetching, updating and creating invoices articles"
    },
    {
      "name": "Invoice export",
      "description": "Fetching and creating invoice exports"
    },
    {
      "name": "User",
      "description": "Calls for fetching and updating the system users."
    },
    {
      "name": "Work hours",
      "description": "Calls for setting up work hours schedules and employment contracts"
    },
    {
      "name": "Shift",
      "description": "Calls for fetching and updating scheduled shifts."
    },
    {
      "name": "Shift Exchanges",
      "description": "Endpoints for exchanging shifts between users."
    },
    {
      "name": "Time Reports",
      "description": "Time reports are the actual worked time as reported by the user."
    },
    {
      "name": "Registry",
      "description": "The registry handles custom data lists and their definitions."
    },
    {
      "name": "Registry Data",
      "description": "Data contained in a registry."
    },
    {
      "name": "Fields",
      "description": "The fields are used to specify the format for a specific registry instance."
    },
    {
      "name": "Salary articles",
      "description": "Fetching, updating and creating salary articles"
    },
    {
      "name": "Settings",
      "description": "Settings are used to store and retreive configuration parameters."
    },
    {
      "name": "RfQs - outgoing",
      "description": "Outgoing RfQs are requests for quotes that are sent to the companys suppliers."
    },
    {
      "name": "RfQs - incoming",
      "description": "Incoming RfQs are requests for quotes that are received from the companys clients."
    },
    {
      "name": "RfQ shifts - outgoing"
    },
    {
      "name": "RfQ shifts - incoming"
    },
    {
      "name": "Quote shifts - outgoing"
    },
    {
      "name": "Quote shifts - incoming"
    },
    {
      "name": "Quote shift responses - outgoing"
    },
    {
      "name": "Quote shift responses - incoming"
    },
    {
      "name": "RfQ Forms"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Order Forms"
    },
    {
      "name": "Order Clients"
    },
    {
      "name": "Order Suppliers"
    },
    {
      "name": "Related Collections",
      "description": "API for fetching multiple collections in a single request."
    },
    {
      "name": "Roles"
    },
    {
      "name": "Internal Message"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Experimental",
      "description": "These APIs are experimental and and may be changed at any time without warning."
    }
  ],
  "servers": [
    {
      "url": "https://api.timezynk.com/api"
    }
  ],
  "paths": {
    "/articles/invoice": {
      "get": {
        "summary": "Fetch invoice articles",
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Array of invoice articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceArticle"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoice article",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceArticle"
              }
            }
          },
          "description": "Invoice article to be added",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/invoice/{articleId}": {
      "get": {
        "summary": "Fetch invoice article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Invoice article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update invoice article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceArticle"
              }
            }
          },
          "description": "Invoice article changes",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/salary": {
      "get": {
        "summary": "Fetch salary articles",
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Array of salary articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryArticle"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create salary article",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalaryArticle"
              }
            }
          },
          "description": "Salary article to be added",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added salary article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/salary/{articleId}": {
      "get": {
        "summary": "Fetch salary article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Salary article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update salary article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalaryArticle"
              }
            }
          },
          "description": "Salary article changes",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Updated salary article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/availabilities": {
      "get": {
        "summary": "Fetch availability",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/startParam"
          },
          {
            "$ref": "#/components/parameters/endParam"
          },
          {
            "$ref": "#/components/parameters/criteriaParam"
          },
          {
            "in": "query",
            "name": "user-id",
            "description": "Find availability for the given user id",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of availabilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Availability"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create availability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Availability"
              }
            }
          },
          "description": "Availability to be added",
          "required": true
        },
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Newly added availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/availabilities/{availabilityId}": {
      "get": {
        "summary": "Fetch planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "404": {
            "description": "Availability not found"
          }
        }
      },
      "put": {
        "summary": "Update planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Availability"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Updated availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Availability not found"
          }
        }
      },
      "delete": {
        "summary": "Delete planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/booked-shifts": {
      "put": {
        "summary": "Book and unbook users on shifts",
        "tags": [
          "Shift"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookings completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftBookingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/articles/invoice": {
      "post": {
        "summary": "Create multiple invoice articles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "description": "Invoice articles to be added",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice article objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceArticle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/bulk/articles/salary": {
      "post": {
        "summary": "Create multiple salary articles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "description": "Salary articles to be added",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added salary article objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryArticle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/bulk/invoice-rows": {
      "post": {
        "summary": "Create multiple invoice rows",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "description": "Invoice rows to be added.",
          "required": true
        },
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      },
      "delete": {
        "summary": "Delete multiple invoice rows",
        "parameters": [
          {
            "name": "invoice-id",
            "in": "query",
            "required": true,
            "description": "Invoice ID to delete rows for.",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          }
        }
      }
    },
    "/bulk/shift-relations": {
      "put": {
        "summary": "Update relations for a list of shifts",
        "description": "Given a list of shift ids, update the relations field according to\nthe set fields in the request body.\n",
        "tags": [
          "Shift"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shift-ids": {
                    "description": "Can be empty, resulting in no changes.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "ObjectId"
                    },
                    "example": [
                      "5dde7024eded8872705aabcd",
                      "5dde7024eded8872705aabce"
                    ]
                  },
                  "outgoing-rfq-id": {
                    "type": "string",
                    "format": "ObjectId",
                    "nullable": true,
                    "example": "5dde7024eded8872705aabcf"
                  },
                  "incoming-rfq-id": {
                    "type": "string",
                    "format": "ObjectId",
                    "nullable": true,
                    "example": "5dde7024eded8872705aabd0"
                  },
                  "rfq-quote-shift-response-id": {
                    "type": "string",
                    "format": "ObjectId",
                    "nullable": true,
                    "example": "5dde7024eded8872705aabd1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number of matched shifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "match": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/default-account/v1/initialize-company": {
      "post": {
        "summary": "Initialize company",
        "description": "Initialize default account for the company\n",
        "tags": [
          "Sign up"
        ],
        "requestBody": {
          "description": "Default account setup.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Data of the default account setup form for initializing a new company.",
                "properties": {
                  "registry-template-id": {
                    "type": "string"
                  },
                  "salary-integration-id": {
                    "type": "string"
                  },
                  "invoice-integration-id": {
                    "type": "string"
                  }
                },
                "required": [
                  "registry-template-id",
                  "salary-integration-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default account has been successfully initialized"
          }
        }
      }
    },
    "/default-account/v1/invoice-integrations": {
      "get": {
        "summary": "Invoice integrations",
        "description": "Get possible integrations options for default setup\n",
        "tags": [
          "Sign up"
        ],
        "responses": {
          "200": {
            "description": "An array of integration modules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationModule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/default-account/v1/registries-templates": {
      "get": {
        "summary": "Registries templates",
        "description": "Get registries templates for default account\n",
        "tags": [
          "Sign up"
        ],
        "responses": {
          "200": {
            "description": "An array of registries templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegistryTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/default-account/v1/salary-integrations": {
      "get": {
        "summary": "Salary integrations",
        "description": "Get possible integrations options for default setup\n",
        "tags": [
          "Sign up"
        ],
        "responses": {
          "200": {
            "description": "An array of integration modules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationModule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/discount-codes/v1/discount-codes": {
      "get": {
        "summary": "Index discount codes",
        "description": "The discount codes endpoint returns a list of all available discount codes for the current company.\n",
        "tags": [
          "Discount codes"
        ],
        "responses": {
          "200": {
            "description": "An array of discount codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscountCodes"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create discount codes",
        "description": "Create discount code\n",
        "requestBody": {
          "description": "Discount code entry to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCodes"
              }
            }
          }
        },
        "tags": [
          "Discount codes"
        ],
        "responses": {
          "200": {
            "description": "Single discount code entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscountCodes"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "summary": "Index discounts",
        "description": "The Discounts endpoint returns a list of all discounts used by the current company.\n",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "An array of discounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Discounts"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domain-log/v1": {
      "get": {
        "summary": "Fetch changes",
        "tags": [
          "Experimental"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Oldest timestamp to fetch changes for",
            "schema": {
              "type": "number",
              "format": "timestamp"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Newest timestamp to fetch changes for",
            "schema": {
              "type": "number",
              "format": "timestamp"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of changes to fetch",
            "schema": {
              "type": "string",
              "enum": [
                "create",
                "update",
                "delete"
              ]
            }
          },
          {
            "name": "user-id",
            "in": "query",
            "required": false,
            "description": "Fetch changes done by a specific user",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/experimental/blocked-inquiries": {
      "get": {
        "summary": "Find blocked inquiries",
        "description": "Find open inquiries that are blocked by overlapping or adjacent shifts.",
        "tags": [
          "Experimental"
        ],
        "responses": {
          "200": {
            "description": "List blocked inquiries with blocking info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Inquiry ID"
                      },
                      "shift-id": {
                        "type": "string",
                        "format": "ObjectId"
                      },
                      "user-id": {
                        "type": "string",
                        "format": "ObjectId"
                      },
                      "duplicity": {
                        "type": "number",
                        "description": "Maximum (and desired) number of booked users"
                      },
                      "booked-users": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "overlapping-shift-ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "adjacent-shift-ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "overlapping-availability": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "ObjectId"
                            },
                            "available": {
                              "type": "boolean",
                              "description": "True if user is available, false if not available."
                            },
                            "start": {
                              "type": "string",
                              "format": "local-date-time",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(.\\d{3})?$",
                              "description": "Start of shift without time zone (i.e. 2019-04-30T15:41:00.000)"
                            },
                            "end": {
                              "type": "string",
                              "format": "local-date-time",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(.\\d{3})?$",
                              "description": "End of shift without time zone (i.e. 2019-04-30T15:41:00.000)"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No blocked inquiries found"
          }
        }
      }
    },
    "/fields": {
      "get": {
        "summary": "Index available registry field types",
        "tags": [
          "Fields"
        ],
        "responses": {
          "200": {
            "description": "A list of all valid registry field types. One of these must be the basis for creating a new custom registry field.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/{fileId}": {
      "get": {
        "summary": "Get file export state",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "File export"
        ],
        "responses": {
          "200": {
            "description": "File metadata and handle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "File id",
                      "format": "ObjectId"
                    },
                    "filename": {
                      "type": "string",
                      "description": "File name"
                    },
                    "content-type": {
                      "type": "string",
                      "description": "Content type"
                    },
                    "entity": {
                      "type": "string",
                      "description": "File category or type",
                      "example": "Invoice export"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized to read file"
          },
          "404": {
            "description": "File is not ready yet or has not been created"
          }
        }
      }
    },
    "/files/{fileId}/done": {
      "post": {
        "summary": "Mark file as done and start conversion to Excel",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExcelExportDone"
              }
            }
          },
          "description": "File properties",
          "required": true
        },
        "tags": [
          "File export"
        ],
        "responses": {
          "200": {
            "description": "File metadata and handle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "File id",
                      "format": "ObjectId"
                    },
                    "state": {
                      "type": "string",
                      "description": "File state",
                      "enum": [
                        "processing"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/files/{fileId}/download": {
      "get": {
        "summary": "Download file as stream",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "File export"
        ],
        "responses": {
          "200": {
            "description": "File contents",
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized to read file"
          },
          "404": {
            "description": "File is not ready yet or has not been created"
          }
        }
      }
    },
    "/files/{fileId}/sheets": {
      "post": {
        "summary": "Add sheet to Excel file",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExcelSheet"
              }
            }
          },
          "description": "Excel sheet",
          "required": true
        },
        "tags": [
          "File export"
        ],
        "responses": {
          "200": {
            "description": "File metadata and handle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "File id",
                      "format": "ObjectId"
                    },
                    "rows-added": {
                      "type": "number",
                      "description": "Number of added rows from sheet"
                    },
                    "state": {
                      "type": "string",
                      "description": "File state",
                      "enum": [
                        "pending"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/files/export/excel": {
      "post": {
        "summary": "Create new Excel file",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExcelExport"
              }
            }
          },
          "description": "File properties",
          "required": true
        },
        "tags": [
          "File export"
        ],
        "responses": {
          "200": {
            "description": "File metadata and handle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "File id",
                      "format": "ObjectId"
                    },
                    "filename": {
                      "type": "string",
                      "description": "File name"
                    },
                    "state": {
                      "type": "string",
                      "description": "File state",
                      "enum": [
                        "pending",
                        "processing"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/house-work-categories": {
      "get": {
        "summary": "Fetch house work categories for invoice articles",
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Array of house work categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HouseWorkCategory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal-message": {
      "get": {
        "summary": "Fetch internal messages",
        "description": "Fetch all internal messages according to provided query.",
        "tags": [
          "Internal Message"
        ],
        "responses": {
          "200": {
            "description": "Array of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InternalMessage"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create internal message",
        "description": "Add a new internal message.",
        "tags": [
          "Internal Message"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InternalMessage"
              }
            }
          },
          "description": "The message object.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Newly added internal message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalMessage"
                }
              }
            }
          }
        }
      }
    },
    "/internal-message/{internalMessageId}": {
      "get": {
        "summary": "Get internal message",
        "description": "Get an internal message according to provided id.",
        "parameters": [
          {
            "name": "internalMessageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Internal Message"
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalMessage"
                }
              }
            }
          },
          "404": {
            "description": "Message not found."
          }
        }
      },
      "delete": {
        "summary": "Delete internal message",
        "description": "Delete existing internal message.",
        "parameters": [
          {
            "name": "internalMessageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Internal Message"
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "404": {
            "description": "Message not found."
          }
        }
      }
    },
    "/invoice-download": {
      "post": {
        "summary": "Prepare invoices for download",
        "requestBody": {
          "description": "Invoices to download must be posted with export type.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "Array of invoices to download.",
                    "items": {
                      "type": "string",
                      "format": "ObjectId"
                    },
                    "example": [
                      "5f31459ddaf86a3cd67543bf",
                      "5f31459ddaf86a3cd67543c1"
                    ]
                  },
                  "target": {
                    "type": "string",
                    "enum": [
                      "excel",
                      "raindance",
                      "ekot",
                      "ubw"
                    ],
                    "description": "Export format.",
                    "example": "ubw"
                  }
                },
                "required": [
                  "ids",
                  "target"
                ]
              }
            }
          }
        },
        "tags": [
          "Invoice export"
        ],
        "responses": {
          "200": {
            "description": "Invoice download object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "The download Id.",
                      "example": "5f31459ddaf86a3cd67543c9"
                    },
                    "vid": {
                      "type": "string",
                      "format": "ObjectId",
                      "example": "5f31459ddaf86a3cd67543ca"
                    },
                    "valid-from": {
                      "type": "number",
                      "format": "Timestamp",
                      "example": 1597064605190
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "ObjectId"
                      },
                      "example": [
                        "5f31459ddaf86a3cd67543bf",
                        "5f31459ddaf86a3cd67543c1"
                      ]
                    },
                    "created": {
                      "type": "number",
                      "format": "Timestamp",
                      "example": 1597064605000
                    },
                    "company-id": {
                      "type": "string",
                      "format": "ObjectId",
                      "example": "5f313fb5daf86a3cd6754369"
                    },
                    "created-by": {
                      "type": "string",
                      "format": "ObjectId",
                      "example": "5f313fb5daf86a3cd675436a"
                    },
                    "target": {
                      "type": "string",
                      "example": "ubw"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/invoice-download/{downloadId}": {
      "get": {
        "summary": "Download invoices",
        "tags": [
          "Invoice export"
        ],
        "parameters": [
          {
            "name": "downloadId",
            "in": "path",
            "description": "Id of the prepared download.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "String in the desired export format."
                  }
                },
                "example": [
                  "\tMagnus\t\t\t\t1\t3008\tOurReference\t\tTesttext1\tDAG\t ..."
                ]
              }
            }
          },
          "404": {
            "description": "Download not found."
          }
        }
      }
    },
    "/invoices-export": {
      "get": {
        "summary": "Fetch invoice exports",
        "tags": [
          "Invoice export"
        ],
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "description": "Target to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State to search for.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "failed",
                "completed",
                "download"
              ]
            }
          },
          {
            "name": "invoice-id",
            "in": "query",
            "description": "Invoice ID to search for.",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoice exports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceExport"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create single invoice export",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceExport"
              }
            }
          },
          "description": "Invoice to be added.",
          "required": true
        },
        "tags": [
          "Invoice export"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceExport"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/invoices-rows": {
      "get": {
        "summary": "Fetch invoice rows",
        "tags": [
          "Invoice rows"
        ],
        "parameters": [
          {
            "name": "invoice-id",
            "in": "query",
            "required": true,
            "description": "Invoice to fetch the rows for.",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoice rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create single invoice row",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRow"
              }
            }
          },
          "description": "Invoice to be added.",
          "required": true
        },
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/invoices-rows/{rowId}": {
      "get": {
        "summary": "Fetch invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Invoice object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found."
          }
        }
      },
      "put": {
        "summary": "Update invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRow"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice row object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          },
          "404": {
            "description": "Invoice not found."
          }
        }
      },
      "delete": {
        "summary": "Delete invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice rows"
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "404": {
            "description": "Invoice not found."
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "Fetch invoices",
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Array of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "description": "Invoice to be added",
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Fetch invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "put": {
        "summary": "Update invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "delete": {
        "summary": "Delete invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/invoices/pending/{target}": {
      "get": {
        "summary": "Fetch pending invoices",
        "description": "For given target, fetch all invoices whose latest linked invoice exports are pending.\n",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Array of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/level-entries": {
      "get": {
        "summary": "Fetch level entries",
        "parameters": [
          {
            "in": "query",
            "name": "user-id",
            "description": "Filter to only one user",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Work hours"
        ],
        "responses": {
          "200": {
            "description": "Array of shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LevelEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create level entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LevelEntry"
              }
            }
          },
          "description": "Invoice to be added",
          "required": true
        },
        "tags": [
          "Work hours"
        ],
        "responses": {
          "200": {
            "description": "Newly added level entry object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LevelEntry"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/level-entries/{levelEntryId}": {
      "get": {
        "summary": "Fetch level entry",
        "parameters": [
          {
            "name": "levelEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Work hours"
        ],
        "responses": {
          "200": {
            "description": "Level entry object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LevelEntry"
                }
              }
            }
          },
          "404": {
            "description": "Level entry not found"
          }
        }
      },
      "put": {
        "summary": "Update level entry",
        "parameters": [
          {
            "name": "levelEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LevelEntry"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Work hours"
        ],
        "responses": {
          "200": {
            "description": "Updated level entry object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LevelEntry"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Level entry not found"
          }
        }
      },
      "delete": {
        "summary": "Delete level entry",
        "parameters": [
          {
            "name": "levelEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Work hours"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/oauth2/v1/tokeninfo": {
      "get": {
        "summary": "Token info",
        "description": "Decode your authentication token and check current roles and user.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Authentication token information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/v1/userinfo": {
      "get": {
        "summary": "User info",
        "description": "OpenID Connect User Info endpoint. Returns decoded standardized claims.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "User claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/open-shifts": {
      "get": {
        "summary": "Fetch open shifts",
        "description": "Fetch all shifts that are open for booking.",
        "tags": [
          "Shift"
        ],
        "responses": {
          "200": {
            "description": "Array of shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shift"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/open-shifts/{shiftId}": {
      "get": {
        "summary": "Fetch open shift",
        "description": "Fetch a single shift that is open for booking.",
        "parameters": [
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Shift"
        ],
        "responses": {
          "200": {
            "description": "Shift object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shift"
                }
              }
            }
          },
          "404": {
            "description": "Shift not found"
          }
        }
      }
    },
    "/orders/v2/booked-users": {
      "get": {
        "summary": "Externally booked users by interval",
        "description": "Endpoint for fetching externally booked users for a specific interval",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T10:00:00.000Z",
              "description": "Start of interval"
            }
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-08T10:00:00.000Z",
              "description": "End of interval"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of booked users in interval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Id of the user",
                      "example": "60defbbe5f3eee7be0a12413"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the user",
                      "example": "Kevin Malone"
                    }
                  },
                  "example": [
                    {
                      "id": "60defc172bddad389b645c2f",
                      "name": "Darryl Philbin"
                    },
                    {
                      "id": "60defc33637d0d644e869a7d",
                      "name": "Holly Flax"
                    },
                    {
                      "id": "60defc4fb32cb4dcb5276269",
                      "name": "Jan Levinson Gould"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Order/Shift not found"
          }
        }
      }
    },
    "/orders/v2/client-forms": {
      "get": {
        "summary": "[Client] Fetch forms\n",
        "description": "Endpoint for fetching order forms for a client.",
        "tags": [
          "Order Forms"
        ],
        "responses": {
          "200": {
            "description": "Single order client form item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/client-forms/{orderFormId}": {
      "get": {
        "summary": "[Client] Fetch single form\n",
        "description": "Endpoint for fetching a signel order form for a client.",
        "tags": [
          "Order Forms"
        ],
        "parameters": [
          {
            "name": "orderFormId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order client forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderForm"
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients": {
      "get": {
        "summary": "List order clients",
        "description": "The Order Clients endpoint returns a list of all invited and active order clients.\n",
        "tags": [
          "Order Clients"
        ],
        "responses": {
          "200": {
            "description": "An array of order clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderClient"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order clients",
        "description": "Endpoint for creating an order client. When the order client is created, an email invitation will be sent to the entered email.\n",
        "tags": [
          "Order Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderClient"
              }
            }
          },
          "description": "Order client to be created.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "An array of order clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderClient"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/{orderClientId}": {
      "get": {
        "summary": "Fetch single order client",
        "description": "Endpoint for fetching a single order client",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "orderClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderClient"
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/{orderClientId}/send-invite": {
      "post": {
        "summary": "Send invite email",
        "description": "Endpoint for sending an invitation email to a created order client.",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "orderClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order client forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/confirm/{clientCode}": {
      "put": {
        "summary": "Confirm client",
        "description": "The Confirm Client endpoint allows a user to confirm a supplier invitation from a client.\n",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "clientCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Company Id of Client.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "company-id": {
                    "type": "string",
                    "description": "Id of the company for the client.",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "company-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "* Client could not be added\n* Client already added\n"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/forms": {
      "get": {
        "summary": "List order forms",
        "description": "The Order Forms endpoint returns a list of all created order forms.\n",
        "tags": [
          "Order Forms"
        ],
        "responses": {
          "200": {
            "description": "An array of order forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order form",
        "description": "Endpoint for creating a new form.\n",
        "requestBody": {
          "description": "Order form to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Order Forms"
        ],
        "responses": {
          "200": {
            "description": "Newly added form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderForm"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/forms/{orderFormId}": {
      "get": {
        "summary": "Fetch single order form",
        "description": "Endpoint for fetching a single order form",
        "tags": [
          "Order Forms"
        ],
        "parameters": [
          {
            "name": "orderFormId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderForm"
                }
              }
            }
          },
          "404": {
            "description": "Order form not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/invitation-code/{code}/validate": {
      "get": {
        "summary": "Validate code",
        "description": "Check if a client/supplier code exists for an order client/supplier.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "204": {
            "description": "An entity with this code exists."
          },
          "404": {
            "description": "No entity found."
          }
        }
      }
    },
    "/orders/v2/orders": {
      "get": {
        "summary": "Index orders",
        "description": "The Orders endpoint returns an array of all created orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order",
        "description": "Endpoint for creating a new order\n\nTo create an order you first need to fetch an Order Form. You should then use `id`, `vid`, `supplier-id`, and `fields` to build your Order object.\n",
        "requestBody": {
          "description": "Order object to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Order"
                  },
                  {
                    "properties": {
                      "shifts": {
                        "type": "array",
                        "description": "List of shifts to be created for this order.",
                        "items": {
                          "$ref": "#/components/schemas/Shift"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Newly added order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/orders/{orderId}": {
      "get": {
        "summary": "Fetch single order",
        "description": "Endpoint for fetching a single user",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/v2/orders/{orderId}/{status}": {
      "put": {
        "summary": "Update order status",
        "description": "Endpoint for updating a single order's status.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "seen",
                "accepted",
                "approved",
                "client-approved",
                "done",
                "rejected"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/v2/orders/incoming": {
      "get": {
        "summary": "Index incoming orders",
        "description": "The Orders endpoint returns an array of all incoming orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/orders/outgoing": {
      "get": {
        "summary": "Index outgoing orders",
        "description": "The Orders endpoint returns an array of all outoing orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/shifts/{shiftId}/booked-users": {
      "get": {
        "summary": "Externally booked users by shift",
        "description": "Endpoint for fetching externally booked users for a specific shift",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "example": "60defbca60f6dea92ca82caa",
              "description": "Id of the shift"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of booked users for the specified shift",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Id of the user",
                      "example": "60defbbe5f3eee7be0a12413"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the user",
                      "example": "Kevin Malone"
                    }
                  },
                  "example": [
                    {
                      "id": "60defc172bddad389b645c2f",
                      "name": "David Wallace"
                    },
                    {
                      "id": "60defc33637d0d644e869a7d",
                      "name": "Nellie Bertram"
                    },
                    {
                      "id": "60defc4fb32cb4dcb5276269",
                      "name": "Mose"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers": {
      "get": {
        "summary": "List available suppliers",
        "description": "The Order Suppliers endpoint returns a list of all available to place orders from.\n",
        "tags": [
          "Order Suppliers"
        ],
        "responses": {
          "200": {
            "description": "An array of order suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderSupplier"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order suppliers",
        "description": "Endpoint for creating an order supplier. When the order supplier is created, an email invitation will be sent to the entered email.\n",
        "tags": [
          "Order Suppliers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderSupplier"
              }
            }
          },
          "description": "Order supplier to be created.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "An array of order suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderSupplier"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers/{orderSupplierId}": {
      "get": {
        "summary": "Fetch single order supplier",
        "description": "Endpoint for fetching a single order supplier",
        "tags": [
          "Order Suppliers"
        ],
        "parameters": [
          {
            "name": "orderSupplierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order supplier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSupplier"
                }
              }
            }
          },
          "404": {
            "description": "Order supplier not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers/{orderSupplierId}/send-invite": {
      "post": {
        "summary": "Send invite email",
        "description": "Endpoint for sending an invitation email to a created order supplier.",
        "tags": [
          "Order Suppliers"
        ],
        "parameters": [
          {
            "name": "orderSupplierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order supplier forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers/confirm/{supplierCode}": {
      "put": {
        "summary": "Confirm supplier",
        "description": "The Confirm Supplier endpoint allows a user to confirm a client invitation from a supplier.\n",
        "tags": [
          "Order Suppliers"
        ],
        "parameters": [
          {
            "name": "supplierCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Company Id of Supplier.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "company-id": {
                    "type": "string",
                    "description": "Id of the company for the supplier.",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "company-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "* Supplier could not be added\n* Supplier already added\n"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/v1/adyen/deletePaymentMethod": {
      "post": {
        "summary": "Delete payment method",
        "description": "A proxy endpoint for deleting an Adyen stored payment method, proxied through to [POST /Recurring/v49/disable](https://docs.adyen.com/api-explorer/#/Recurring/v49/post/disable).\n\nFor more information about how to use the endpoint see the Adyen docs:  \n- [Adyen Tokenization](https://docs.adyen.com/online-payments/tokenization/managing-tokens)  \n- [POST /Recurring/v49/disable](https://docs.adyen.com/api-explorer/#/Recurring/v49/post/disable)\n",
        "requestBody": {
          "description": "Payment details.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Adyen stored payment method id / recurringDetailReference",
                    "example": "841631886584433E"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Adyen delete payment method response. Responds with payload provided by the adyen API.\n",
            "content": {
              "application/json": {
                "example": {
                  "response": "[detail-successfully-disabled]"
                }
              }
            }
          }
        }
      }
    },
    "/payments/v1/adyen/getPaymentMethods": {
      "get": {
        "summary": "Adyen payment methods",
        "description": "A proxy endpoint for indexing available Adyen payment methods. This endpoint should be used for rendering the Adyen [pre-built UI option: Drop-in](https://docs.adyen.com/online-payments/drop-in-web) component.\n\nFor more information about how to use the endpoint see the Adyen docs:  \n- [Drop-in UI docs](https://docs.adyen.com/online-payments/drop-in-web/tutorial-node-js#build-the-client)\n- [POST /paymentMethods endpoint](https://docs.adyen.com/api-explorer/#/CheckoutService/v67/post/paymentMethods)\n",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "countryCode",
            "description": "Country code of the caller. [More info](https://docs.adyen.com/online-payments/3d-secure/native-3ds2/web-drop-in#show-the-available-cards-in-your-payment-form).",
            "schema": {
              "type": "string",
              "example": "se"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Currency of the caller. [More info](https://docs.adyen.com/online-payments/3d-secure/native-3ds2/web-drop-in#show-the-available-cards-in-your-payment-form).",
            "schema": {
              "type": "string",
              "example": "SEK"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all the available payment methods Timezynk accepts.",
            "content": {
              "application/json": {
                "example": {
                  "paymentMethods": [
                    {
                      "brands": [
                        "amex",
                        "bcmc",
                        "cup",
                        "diners",
                        "discover",
                        "jcb",
                        "maestro",
                        "mc",
                        "visa"
                      ],
                      "details": [
                        {
                          "key": "number",
                          "type": "text"
                        },
                        {
                          "key": "expiryMonth",
                          "type": "text"
                        },
                        {
                          "key": "expiryYear",
                          "type": "text"
                        },
                        {
                          "key": "cvc",
                          "type": "text"
                        },
                        {
                          "key": "holderName",
                          "optional": true,
[...]
