openapi: 3.0.3
info:
  title: Timezynk API
  version: 2.7.0
  description: >
    Build your own cool apps and integrations by leveraging the Timezynk API!

    
    The Timezynk API is organized around REST. It is designed to have resource-oriented URLs and be as predictable as possible for you as developer. 
    We use HTTP status codes when something goes wrong and HTTP verbs understod by many API clients around the web.


    Authentication is done using OAuth2. You can create an API key by logging in to your timezynk account and visiting 
    https://tzapp.com/v5/#settings/integrations


    All input and output is in JSON.


security:
  - TZApiAuth: []
tags:
  - name: Auth
    description: Endpoints for authentication and configuration
  - name: Availability
    description: Fetching and updating availability
  - name: Invoice
    description: Fetching, updating and creating invoices
  - name: Invoice rows
    description: Fetching, updating and creating invoice rows
  - name: Invoice articles
    description: Fetching, updating and creating invoices articles
  - name: Invoice export
    description: Fetching and creating invoice exports
  - name: User
    description: Calls for fetching and updating the system users.
  - name: Work hours
    description: Calls for setting up work hours schedules and employment contracts
  - name: Shift
    description: Calls for fetching and updating scheduled shifts.
  - name: Shift Exchanges
    description: Endpoints for exchanging shifts between users.
  - name: Time Reports
    description: Time reports are the actual worked time as reported by the user.
  - name: Registry
    description: The registry handles custom data lists and their definitions.
  - name: Registry Data
    description: Data contained in a registry.
  - name: Fields
    description: The fields are used to specify the format for a specific registry instance.
  - name: Salary articles
    description: Fetching, updating and creating salary articles
  - name: Settings
    description: Settings are used to store and retreive configuration parameters.
  - name: RfQs - outgoing
    description: Outgoing RfQs are requests for quotes that are sent to the companys suppliers.
  - name: RfQs - incoming
    description: Incoming RfQs are requests for quotes that are received from the companys clients.
  - name: RfQ shifts - outgoing
  - name: RfQ shifts - incoming
  - name: Quote shifts - outgoing
  - name: Quote shifts - incoming
  - name: Quote shift responses - outgoing
  - name: Quote shift responses - incoming
  - name: RfQ Forms
  - name: Orders
  - name: Order Forms
  - name: Order Clients
  - name: Order Suppliers
  - name: Related Collections
    description: API for fetching multiple collections in a single request.
  - name: Roles
  - name: Internal Message
  - name: Stripe Payments
    description: Proxy API to Stripe services.
  - name: Webhooks
    description: A POST endpoint callback that is called for a certain action.
  - name: Experimental
    description:
      These APIs are experimental and and may be changed at any time without
      warning.
servers:
  - url: https://api.timezynk.com/api
